<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCL React</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootflat/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootflat/css/bootflat.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootflat/css/font-awesome.min.css">
</head>
<body>

{{{ body }}}

<script src="/bower_components/bootflat/js/jquery-1.10.1.min.js"></script>
<script src="/bower_components/bootflat/js/bootstrap.js"></script>

</body>
</html>