<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            {{{markup}}}
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {

        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);

    });

    function toggleChevron(e) {
        jQuery(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }
</script>