<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary" style="text-align:center;margin-top:30px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-subway"></i> Métro</h3>
                </div>
                <div class="panel-body">
                    <a href="/line/301A/A">
                        <img src="/img/A.png">
                    </a>
                    <a href="/line/302A/B">
                        <img src="/img/B.png">
                    </a>
                    <a href="/line/303/C">
                        <img src="/img/C.png">
                    </a>
                    <a href="/line/304/D">
                        <img src="/img/D.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary" style="text-align:center;margin-top:30px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-train"></i> Tramway</h3>
                </div>
                <div class="panel-body">
                    <a href="/line/T1A/T1">
                        <img src="/img/T1.png">
                    </a>
                    <a href="/line/T2/T2">
                        <img src="/img/T2.png">
                    </a>
                    <a href="/line/T3/T3">
                        <img src="/img/T3.png">
                    </a>
                    <a href="/line/T4A/T4">
                        <img src="/img/T4.png">
                    </a>
                    <a href="/line/T5/T5">
                        <img src="/img/T5.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary" style="text-align:center;margin-top:30px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bus"></i> Trouvez une ligne de bus</h3>
                </div>
                <div class="panel-body">
                    <form action="/line" method="POST" class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bus"></i></span>

                            <div class="form-group">
                                <input type="text" class="form-control" id="lineName" name="lineName"
                                       placeholder="Ex: C15" required>
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">OK</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    {{{markup}}}
                </div>
                <div class="col-lg-6">
                    <h3>Info Traffic</h3>
                    <a class="twitter-timeline" href="https://twitter.com/TCLtrafic"
                       data-widget-id="583609677696606208">Tweets by @TCLtrafic</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);

    });

    function toggleChevron(e) {
        $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }
</script>