<div class="container">

    <div class="row" style="margin-top:50px;">
        <div class="col-lg-4 col-lg-offset-2">
            <div class="panel panel-primary" style="text-align:center;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-subway"></i> Métro</h3>
                </div>
                <div class="panel-body">
                    <a href="/line/301A" title="Passages Métro A" rel="canonical">
                        <img src="/img/A.png" alt="Métro A">
                    </a>
                    <a href="/line/302A" title="Passages Métro B" rel="canonical">
                        <img src="/img/B.png" alt="Métro B">
                    </a>
                    <a href="/line/303" title="Passages Métro C" rel="canonical">
                        <img src="/img/C.png" alt="Métro C">
                    </a>
                    <a href="/line/304" title="Passages Métro D" rel="canonical">
                        <img src="/img/D.png" alt="Métro D">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary" style="text-align:center;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-train"></i> Tramway</h3>
                </div>
                <div class="panel-body">
                    <a href="/line/T1A" title="Passages Tram T1" rel="canonical">
                        <img src="/img/T1.png" alt="Tram T1">
                    </a>
                    <a href="/line/T2" title="Passages Tram T2" rel="canonical">
                        <img src="/img/T2.png" alt="Tram T2">
                    </a>
                    <a href="/line/T3" title="Passages Tram T3" rel="canonical">
                        <img src="/img/T3.png" alt="Tram T3">
                    </a>
                    <a href="/line/T4A" title="Passages Tram T4" rel="canonical">
                        <img src="/img/T4.png" alt="Tram T4">
                    </a>
                    <a href="/line/T5" title="Passages Tram T5" rel="canonical">
                        <img src="/img/T5.png" alt="Tram T5">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <div class="panel panel-primary" style="text-align:center;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-flag-checkered"></i> Chercher un arrêt</h3>
                </div>
                <div class="panel-body">
                    <form action="/search/stop" method="POST" class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-flag-checkered"></i></span>

                            <div class="form-group">
                                <input type="text" name="keyword" class="form-control" placeholder="Ex: Gare Part-Dieu" required>
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">OK</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary" style="text-align:center;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bus"></i> Trouvez une ligne de bus</h3>
                </div>
                <div class="panel-body">
                    <form action="/line" method="POST" class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bus"></i></span>

                            <div class="form-group">
                                <input type="text" class="form-control" id="lineName" name="lineName"
                                       placeholder="Ex: C15" required>
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">OK</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);

    });

    function toggleChevron(e) {
        $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }
</script>