<div class="container">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-4">
            <h1>Chercher un arrêt TCL</h1>
            <form action="/line" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="lineName" name="lineName" placeholder="Ex: C15">
                </div>
                <button type="submit" class="btn btn-primary">Trouver</button>
            </form>
        </div>
    </div>
</div>