html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    padding-bottom: 120px; /* this needs to be bigger than footer height*/
    padding-top: 70px;
}

.footer {
    position: relative;
    margin-top: -120px; /* negative value of footer height */
    height: 120px;
    clear: both;
    padding-top: 20px;
}

.label-margin-left {
    margin-left: 5px;
}

.img-resized-tram-metro img {
    max-width: 29px;
}

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
    display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 85px !important;
    display: inline;
    margin-bottom: 5px;
}